html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    min-height: 100vh; 
  
    display: grid;
    grid-template-rows: auto 1fr auto;
}

article {
    padding: 20px;
}

.logo-text {
   text-decoration: none;
   color: #000;
}
.logo-text:visited {
   text-decoration: none;
   color: #000;
}

p, h2, h4 {
    color: whitesmoke;
}

p a {
    color: #55d6aa;
}

p a:visited {
    color: #55d6aa;
}

.page-text {
    text-align: left;
    padding: 0px 50px 15px 50px;
}

.page-text img {
    display: block;
    margin: 0 auto;
    width: 800px; 
    height: 350px;
    object-fit: cover;
}

.page-text ul {
    color: whitesmoke;
}
.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background: #55d6aa;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    height: 110px;
}

.endangered-animals-logo {
    font-family: caesar dressing, arial;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    float: left;
    height: 1em;
    margin-top: 35px;
    margin-bottom: 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 50px;

    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.dot {
    background: #717171;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: inline-block;
    transition: background-color 0.5s ease;
    margin: 0 2px;
}
.slideshow {
    margin: auto;
}
.slideshow img {
    width: 800px; 
    height: 350px;
    object-fit: cover;
}
.prev, .next {
    cursor: pointer;
    position: relative;
    top: 50%;
    width: auto;
    padding: 50px 16px;
    margin-top: -200px;
    color: #55d6aa;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
    top: -175px;
  }
  
  .next {
    left: 23%;
  }

  .prev{
      right: 23%;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(75, 75, 75, 0.541);
  }

  .active, .dot:hover {
    background-color: #55d6aa;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

/* katharine's added changed */
  footer {
    background: #55d6aa;
    width: 100%;
    padding: 20px 0px;
}

footer p {
    color: #444;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

footer a {
    position: center;
}

footer img {
    margin-left: 1em;
}

h3 {
    color: whitesmoke;
    position: left;
}

/* added image gallery */
.animal-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
    font-size: 10px;
    text-align: center;
    place-items: center;
    gap: 15px 15px;
}

.item{
    text-align:center;
    display:block;
    background-color: #333;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 1px;
    float:left;
    width: 100%;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.animal-gallery img {
    display: block;
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin: auto;
}

.animal-gallery a {
    display: block;
    text-decoration: none;
}
